<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--Log: connection string for database-->
    <add name="EFDbContext"
         connectionString="Data Source=(localdb)\Projects;Initial Catalog=SqlDb;Integrated Security=True;Pooling=False;Connect Timeout=30;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
<appSettings>
    <!--Log: path string for xml file-->
    <add key="XmlFilePath" value="log.xml"/>
  </appSettings>
</configuration>